<div class="container">
    <h2>Ajouter un Étudiant</h2>
    <form (ngSubmit)="addUniversite()">
      <div class="form-group">
        <label for="nomEtudiant">Nom:</label>
        <input type="text" id="nomEtudiant" [(ngModel)]="etudiant.nomEtudiant" name="nomEtudiant" required />
      </div>
  
      <div class="form-group">
        <label for="prenomEtudiant">Prénom:</label>
        <input type="text" id="prenomEtudiant" [(ngModel)]="etudiant.prenomEtudiant" name="prenomEtudiant" required />
      </div>
  
      <div class="form-group">
        <label for="cinEtudiant">CIN:</label>
        <input type="number" id="cinEtudiant" [(ngModel)]="etudiant.cinEtudiant" name="cinEtudiant" required />
      </div>
  
      <div class="form-group">
        <label for="dateNaissance">Date de Naissance:</label>
        <input type="date" id="dateNaissance" [(ngModel)]="etudiant.dateNaissance" name="dateNaissance" required />
      </div>
  
      <button type="submit" class="btn">Ajouter Étudiant</button>
    </form>
  </div>
  