/* Container styling */
.homepage-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  height: 90vh; /* Hauteur légèrement réduite */
  background-color: #e0f7fa; /* Couleur de fond modifiée */
  text-align: left; /* Alignement à gauche */
  padding: 30px; /* Augmentation du padding */
  border: 2px solid #b0bec5; /* Ajout de bordures */
}

/* Heading styling */
.homepage-container h1 {
  font-size: 3rem; /* Augmentation de la taille de police */
  color: #8e44ad; /* Couleur différente */
  margin-bottom: 25px; /* Plus d'espace en bas */
  font-weight: normal; /* Poids de police normal */
  text-transform: capitalize; /* Capitalisation en début de mot */
}

/* Button styling */
.homepage-container button {
  background-color: #ff5722; /* Couleur d'arrière-plan différente */
  color: #212121; /* Texte noir */
  padding: 15px 28px; /* Augmentation du padding */
  font-size: 1.4rem; /* Augmentation de la taille de police */
  border: 2px solid #ffccbc; /* Bordure visible */
  border-radius: 12px; /* Bordures plus arrondies */
  cursor: pointer;
  transition: transform 0.4s ease; /* Ajout de transformation */
}

.homepage-container button:hover {
  background-color: #bf360c; /* Couleur différente au survol */
  transform: scale(1.1); /* Légère augmentation de la taille */
}

.homepage-container button:focus {
  outline: 2px dashed #f4511e; /* Outline en pointillés lors du focus */
}

/* Responsive styling */
@media (max-width: 768px) {
  .homepage-container h1 {
      font-size: 2.4rem; /* Taille de police ajustée */
      color: #2c3e50; /* Couleur de texte différente pour les petits écrans */
  }

  .homepage-container button {
      padding: 12px 22px;
      font-size: 1.1rem;
      border-radius: 8px; /* Bordures arrondies réduites */
  }
}
